body {
  background-image: linear-gradient(to left, #D2D8B3, #F2F2F2,#EFD09E,#D4AA7D);
  padding:0;
  margin-right:15px;
  height:100%;
  font-family: 'Oxygen', sans-serif;
}
ul li {
  display:flex;
  float:right;
  margin-left:30px;
  text-decoration:none;
  list-style-type: none;
}
ul li a {
  margin-left:30px;
  font-family: 'Indie Flower', cursive;
}
ul li a:hover {
  color:red;
}

ul li a:visited {
  color:blue;
}
.email {
  margin-left:35px;
}
.section2 img {
  margin-left:30px;
}
.section3 {
  margin-top:20px;
}
a:visited {
  color:blue;
}
input {
  margin-bottom:20px;
  margin-left:15px;
  text-align:center;
}
.sign-up {
  margin-left:50px;
  font-family: 'Indie Flower', cursive;
}
h1 {
  color:#272727;
  font-weight:bold;
  font-family: 'Indie Flower', cursive;
  margin-left:180px;
  font-size:40px;
}
p {
  color:#2D3142;
}
.content {
  margin-top:50px;
}
.header {
  text-align:center;
}
form {
  text-align:center;
}
.left {
  float:left;
  margin-left:320px;
  border-radius:55px;
  width:405px;
  text-align:center;
    background-image:url("../images/apple-iphone8-gold-1-3x.jpg");
    background-size:cover;
    background-position:center;
    height:750px;
}
.left-title {
    height:40px;
}
.right-title {
  height:40px;
  font-weight:bold;
  font-size:20px;
}
.right {
  border-style:solid;
  margin-right:30px;
  border-width:1px;
  border-color:grey;
  float:right;
  width:700px;
  text-align:center;
  height:600px;

}
.right-title p {
  color:purple;
}
.left-title p {
  color:grey;
}
.footer {
  margin-top:20px;
}
html {

  height:100%;
}
footer {
  position: absolute;
  bottom: -200px; left: 5px; right: 0;
}
